1. Import Libraries

In [1]:
# Import libraries 
import pandas as pd 
import numpy as np
import os

2. Import Data

In [2]:
# Import Dataframes
path = r'/Users/seema/Documents/CareerFoundry/A6/Data Project'
df_happiness = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'), index_col = False)

3. Data Wrangling

In [3]:
df_happiness.head(20)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036

In [10]:
# Rename Columns
df_happiness.rename(columns = {'Country or region' : 'Country'}, inplace = True)
df_happiness.rename(columns = {'Overall rank' : 'Rank'}, inplace = True)
df_happiness.rename(columns = {'GDP per capita' : 'GDP Per Capita'}, inplace = True)
df_happiness.rename(columns = {'Social support' : 'Social Support'}, inplace = True)
df_happiness.rename(columns = {'Healthy Life Expectancy' : 'Life Expectancy'}, inplace = True)
df_happiness.rename(columns = {'Freedom to make life choices' : 'Freedom'}, inplace = True)
df_happiness.rename(columns = {'Perceptions of corruption' : 'Perception of Corruption'}, inplace = True)

In [11]:
df_happiness.head(5)

,Rank,Country,Score,GDP Per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perception of Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [13]:
# Descriptive Statistics
df_happiness.describe()

,Rank,Score,GDP Per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perception of Corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [14]:
df_happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      156 non-null    int64
 1   Country                   156 non-null    object
 2   Score                     156 non-null    float64
 3   GDP Per Capita            156 non-null    float64
 4   Social Support            156 non-null    float64
 5   Life Expectancy           156 non-null    float64
 6   Freedom                   156 non-null    float64
 7   Generosity                156 non-null    float64
 8   Perception of Corruption  156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [16]:
# Change Variables Types
df_happiness['Rank'] = df_happiness['Rank'].astype('str')

In [17]:
# Descriptive Statistics
df_happiness.describe()

,Score,GDP Per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perception of Corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [18]:
# Check for Missing Values 
df_happiness.isnull().sum()

Rank                        0
Country                     0
Score                       0
GDP Per Capita              0
Social Support              0
Life Expectancy             0
Freedom                     0
Generosity                  0
Perception of Corruption    0
dtype: int64

In [19]:
# Export Dataframe
df_happiness.to_csv(os.path.join(path, '02 Data','Prepared Data', 'happiness_cleaned.csv'))